# ── AWS ───────────────────────────────────────────
AWS_ACCESS_KEY_ID=AKIARNJ4OHXBMF53TZ6X
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui
AWS_REGION=us-east-1

S3_BUCKET=test-image-dataset-01234
REKOGNITION_MODEL_ARN=arn:aws:rekognition:us-east-1:097300397506:project/model-black-background/version/model-black-background.2026-03-27T22.38.32/1774669112670
MIN_CONFIDENCE=50

# ── MySQL (Railway te da estos valores automáticamente) ────────
DB_HOST=containers-us-west-999.railway.app
DB_PORT=6543
DB_NAME=railway
DB_USER=root
DB_PASS=tu_password_de_railway

# ── Flask ──────────────────────────────────────────
PORT=5000
